body{
    background-color: purple;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.board{
    width: 630px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.square{
    background-color: black;
    float: left;
    width: 200px;
    height: 200px;
    border: solid wheat 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.kolko{
    width: 150px;
    height: 150px;
    border:  solid lightcoral 4px;
    border-radius: 100px;
}
.krzyzyk{
    width: 150px;
    height: 150px;

}
#pion{
    border: 4px solid lightgreen;
    height: 140px;
    width: 0px;
    position: relative;
    transform: rotate(45deg);
}
#poziom{
    width: 140px;
    height: 0px;
    border: 4px solid lightgreen;
    position: absolute;
    margin-top: 75px;
    transform: rotate(45deg);
}
#kowin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
    color: lightcoral;
}
#kowin2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: yellow;
    font-size: 30px;
}
#kowin2 a{
    background-color: black;
    border: solid black 3px;
    border-radius: 15px;
    text-decoration: none;
    color: yellow;
}
#xwin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
    color: lightgreen;
}
#draw{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
    color: wheat;
    
}